@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h2 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #3498db, #9e71b1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
